* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #fff5ec;
}

/* CABECALHO */

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d3461f70;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 1200px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.menu li {
  color: #d3471f;
}

.menu li:hover {
  text-decoration: underline;
}

.cta {
  background-color: transparent;
  padding: 10px 25px;
  color: #d3471f;
  border: 1px solid #d3471f;
  border-radius: 25px;
  font-weight: 600;
  margin-right: 7px;
}

.cta:hover {
  color: #feddda;
  background-color: #d3471f;
}

header .titulo h1 {
  color: #d3471f;
  position: relative;
  margin-left: 60px;
}

header .titulo h1::before {
  content: url("./logoadotepet.png");
  width: 20px;
  height: 30px;
  top: 5px;
  left: -55px;
  position: absolute;
}

header .titulo span {
  color: #d3471f;
  font-weight: 300;
}

/* CONTEUDO */

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

.intro .titulointro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.intro .titulointro h1 {
  width: 400px;
  font-size: 3rem;
  line-height: 60px;
  color: #d3471f;
}

.intro .titulointro p {
  width: 400px;
  font-size: 1.1rem;
  color: #e36542a9;
}

.intro .titulointro .btn {
  background-color: #d3471f;
  color: #feddda;
  width: fit-content;
  padding: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 15px;
  margin-right: 170px;
}

.intro .imgintro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.intro .imgintro > img {
  width: 380px;
  height: 389px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cardcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
}

.cards img {
  width: 100%;
  border-radius: 22px 22px 22px 22px;
  padding: 10px;
}

.cards {
  background-color: white;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 290px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cards h1 > span {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(135, 134, 134, 0.721);
  position: relative;
}

.cards h1 > span::before {
  content: url("./verify.png");
  top: 1px;
  left: -20px;
  position: absolute;
}

.cards ul {
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.cards li {
  background-color: #feddda;
  color: #d3471f;
  font-size: 14px;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
  width: 100%;

  font-weight: 600;
}

.cards p {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #d146207a;
}

.cards h1 {
  color: rgba(0, 0, 0, 0.791);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 0px 10px 10px 10px;
}

.desc {
  padding: 0px 10px 15px 10px;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: rgba(138, 138, 138, 0.549) !important;
  text-transform: capitalize !important;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards a {
  background-color: rgba(211, 70, 31, 0.894);
  text-align: center;
  width: 270px;
  padding: 8px;
  border-radius: 8px;
  margin: 5px 0px 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #feddda;
  box-shadow: 0 5px 10px rgba(211, 70, 31, 0.459);
}

@media (max-width: 700px) {
  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d3461f70;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 1200px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin-right: 100px;
  }

  .menu ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .menu li {
    color: #d3471f;
  }

  .menu li:hover {
    text-decoration: underline;
  }

  .cta {
    background-color: transparent;
    padding: 10px 25px;
    color: #d3471f;
    border: 1px solid #d3471f;
    border-radius: 25px;
    font-weight: 600;
    margin-right: 7px;
  }

  .cta:hover {
    color: #feddda;
    background-color: #d3471f;
  }

  header .titulo h1 {
    color: #d3471f;
    position: relative;
    margin-left: 60px;
    display: none;
  }

  header .titulo span {
    color: #d3471f;
    font-weight: 300;
  }
}
